html body{
    min-width: 1226px;
}
.container{
    width: 1226px;
    height: 272px;
    margin:0 auto;
}
.site-footer .footer-service{
    height:25px;
    padding:27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.site-footer .list-service li{
    width: 19.8%;
    float:left;
    height: 25px;
    border-left:1px solid #c0c0c0;
    font-size: 16px;
    /*font-size: 14px;*/
    line-height: 25px;
    text-align: center;
}
.site-footer .list-service li:first-child {
    border-left: 0;
}
.site-footer .list-service a {
    color:#616161;
    /*transition: color .2s;*/
}

.container::before{
    content: "";
    display: table;
}
.clear-fix::before{
    content: "";
    display: table;
}

.site-footer .footer-links{
    padding: 40px 0;
    height: 112px;
}
.site-footer .footer-links .col-links{
    float: left;
    width: 160px;
    height: 112px;
    margin:0;
}
.site-footer .footer-links .col-links dt{
    margin:-1px 0 26px;
    font-size: 14px;
    /*font-size: 12px;*/
    color:#424242;
    line-height: 1.25;
}
.site-footer .footer-links .col-links dd{
    margin:10px 0 0;
    font-size: 12px;
    /*font-size: 10px;*/
}
.site-footer .footer-links .col-links a {
    color: #757575;
}
.site-footer .footer-links .col-contact{
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.site-footer .col-contact .phone{
    margin:0 0 5px;
    font-size: 22px;
    /*font-size: 20px;*/
    color:#ff6700;
    line-height: 1;
}
.site-footer .col-contact p{
    margin: 0 0 16px;
    font-size: 12px;
    /*font-size: 10px;*/
}
.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    /*font-size: 12px;*/
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    transition: all .4s;
}
.col-contact .btn-line-primary {
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
}
.col-contact .btn-small {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 1;

}
.site-footer .col-contact i{
    position: relative;
    top:4px;
    left: -1px;
}

.site-info{
    padding:30px 0;
    font-size: 12px;
    background: #fafafa;
}