body{
    background-color: #fff;
    min-width: 1226px;
    font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
}

ul,li{
    list-style: none;
}

body,p,h1,h2,h3,h4,h5,h6,button,input,ul,ol{
    margin: 0;
    padding: 0;
}

a:hover{
    text-decoration: none;
}

:link, :visited, ins, a{
    text-decoration: none;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

a{text-decoration: none;color:#757575;}

i,em{font-style: normal}

button,input,optgroup,select,textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,input{
  overflow: visible;
}

button,select {
  text-transform: none;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  -webkit-appearance: button;
}
p, pre {
    margin: 1em 0;
}
